#lf2020_header *
    all: initial
    box-sizing: border-box
    margin: 0
    padding: 0

#lf2020_header
    background: #ffffff
    padding: 2rem 1rem
    position: relative
    z-index: 1000000
    // border-bottom: 1px solid #000000
    #lf2020_navigation
        display: flex
        justify-content: space-between
        .backtolf
            font-size: 1rem
            color: #000000
            text-decoration: none
            padding: 0.25rem 1rem
            border-bottom: 2px solid #000000
        .feelinglucky
            font-size: 1rem
            color: #000000
            text-decoration: none
            padding: 0.25rem 1rem
            border-bottom: 2px solid #000000
    #lf2020_title
        display: flex
        align-items: center
        justify-content: center
        color: #000000
        text-decoration: none
        img
            width: 346px
            height: 347px
            margin-right: 5rem
        h1
            font-size: 3rem
            font-family: 'Montserrat', sans-serif
        h2
            font-size: 2.9rem
            font-family: 'Noto Sans JP', sans-serif
    .boothtop
        text-align: right
        margin-bottom: 1rem
        a
            font-size: 1rem
            color: #ffffff
            background-color: #FC3C25
            text-decoration: none
            padding: 0.5rem 2rem