doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 図書館総合展2020 / カーリルブース
    meta(http-equiv="last-modified" content="Sun, 10 Feb 2013 14:00:46 GMT ")
    meta(http-equiv="cache-control" content="Private")
    meta(http-equiv="Expires" content="600")
    link(rel="stylesheet", href="./index.css")
  body
    link(rel="stylesheet", href="./header.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet")
    #lf2020_header
      #lf2020_navigation
        a.backtolf(href="https://2020.libraryfair.jp/") 図書館総合展へ
        a.feelinglucky(href="https://asia-northeast1-calil-sandbox.cloudfunctions.net/lfRedirect") となりのブースへ
      div#lf2020_title
        a.lflogo(href="https://2020.libraryfair.jp/")
          img(src="../assets/logo-lf.png" srcset="../assets/logo-lf.png 1x,../assets/logo-lf@2x.png 2x" width="330" height="266"  alt="図書館総合展 TosoToso")
        div
          a(href="https://calil.jp/lf2020/")
            h1 LF2020 ONLINE
            h2 カーリルブース
      .boothtop
        a(href="https://calil.jp/lf2020/") カーリルブースのトップへ
    main
      article
        section
          h3 ゆるくつながる、
            br
            | かるいしくみ。
          p 住んでいる街や、働いている街、通っている大学の図書館。使える図書館はたくさんありますが、検索画面はバラバラ。カーリルでは、わかりやすい検索画面で、これらをまとめて検索できるようにしました。それぞれの図書館システムとリアルタイムに連携しているので、目的の本がどこにあるかを簡単に探すことができます。
            br
            | 住んでいる街や、働いている街、通っている大学の図書館。使える図書館はたくさんありますが、検索画面はバラバラ。カーリルでは、わかりやすい検索画面で、これらをまとめて検索できるようにしました。それぞれの図書館システムとリアルタイムに連携しているので、目的の本がどこにあるかを簡単に探すことができます。
          .news_letter
            h4 ニュースレターを受けとる
            p HogefugaLF2020 ONLINELF2020 ONLINELF2020ONLINELF2020 ONLINELF2020 ONLINELF2020 ONLINELF2020 ONLINELF2020 ONLINELF2020 ONLINELF2020 ONLINE
            form
              input(type="email" name="email")
              button 受け取る


    //- script(src="./js/index.js")