doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 図書館総合展2021 / カーリルブース
    meta(http-equiv="last-modified" content="Sun, 10 Feb 2013 14:00:46 GMT ")
    meta(http-equiv="cache-control" content="Private")
    meta(http-equiv="Expires" content="600")
    link(rel="stylesheet", href="./index.css")
    meta(name="application-name" content="図書館総合展2021 / カーリルブース")
    meta(name="description" content="毎年11月に開催される、国内最大の図書館に関する展示会「図書館総合展」はすべての展示ブースがオンラインで展開されます。カーリルのオンラインブースで、図書館や、ユーザーの皆様とつながることを楽しみにしています。")
    meta(name="keywords" content="カーリル,カリール,図書館総合展2021,ブース,オンライン,蔵書検索,図書館検索,横断検索,OPAC,図書館,図書室")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@caliljp")
    meta(property="fb:app_id" content="270660792981320")
    meta(property="og:title" content="図書館総合展2021 / カーリルブース")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://calil.jp/lf2021/")
    meta(property="og:image" content="../assets/og-image.png")
    meta(property="og:site_name" content="図書館総合展2021 / カーリルブース")
    meta(property="og:description" content="毎年11月に開催される、国内最大の図書館に関する展示会「図書館総合展」はすべての展示ブースがオンラインで展開されます。カーリルのオンラインブースで、図書館や、ユーザーの皆様とつながることを楽しみにしています。")
    meta(itemprop="name" content="図書館総合展2021 / カーリルブース")
    meta(itemprop="description" content="毎年11月に開催される、国内最大の図書館に関する展示会「図書館総合展」はすべての展示ブースがオンラインで展開されます。カーリルのオンラインブースで、図書館や、ユーザーの皆様とつながることを楽しみにしています。")
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-32412597-1")
    script.
      var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
      if (dnt!=='1' && dnt!=='yes') {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-32412597-1', { 'anonymize_ip': true });
      } else {
        console.log('Do-Not-Track, not loading analytics.');
        window.gtag = function() {};
      }
  body
    link(rel="stylesheet", href="./header.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet")
    #lf2021_header
      #lf2021_navigation
        a.backtolf(href="https://libraryfair.jp/") 図書館総合展へ
        a.feelinglucky(href="https://asia-northeast1-calil-sandbox.cloudfunctions.net/lfRedirect") となりのブースへ
      div#lf2021_title
        a.lflogo(href="https://libraryfair.jp/")
          img(src="../assets/logo-lf.png" srcset="../assets/logo-lf.png 1x,../assets/logo-lf@2x.png 2x" width="330" height="266"  alt="図書館総合展 TosoToso")
        div
          a(href="./")
            h1 LF2021 ONLINE
            h2 カーリルブース
      .boothtop
        a(href="https://calil.jp/lf2021/") カーリルブースのトップへ
    #main.calil-main-contents
      navigation.pc
        a.calil(href="https://calil.jp")
          img(src="../assets/logo.svg" alt="カーリル")
        a(href="#concept") コンセプト
        a(href="https://libraryfair.jp/search/contents?keys=%E4%B8%BB%E5%82%AC%20%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AB%E3%83%BC%E3%83%AA%E3%83%AB") イベント
        a(href="#labo") カーリルラボ
        a.zoom(href="https://timerex.net/s/caliljp_lf2020/72affc05")
          | ZOOM
        a.happyshop(href="https://happyshop.calil.jp/")
          img(src="../assets/logo-happyshop.svg" alt="")
          | グッズ・カタログ

      navigation.sp
        a(href="https://calil.jp")
          svg(height="37.305" viewbox="0 0 131.743 37.305" width="131.743" xmlns="http://www.w3.org/2000/svg")
            g(fill="#ffffff")
              path(d="m30.91 10.979c-1.04-2.962-12.126-3.01-12.126-3.01.992-4.321 1.023-7.38-.155-7.863-1.4-.567-4.113 2.643-6.893 7.8-6.698.319-11.736 1.763-11.736 3.494 0 1.434 3.511 2.674 8.553 3.241-.08.2-8.394 18.7-3.4 18.7s11.183-17.35 11.568-18.412a49.683 49.683 0 0 0 6.1-.562c-.912 1.868-6.167 19.316-1.753 20.077s11.281-19.352 9.842-23.465z" transform="translate(0 -.041)")
              path(d="m1618.737 39.845c-1.78-.394-4.02 3.79-5 9.337s-.345 10.346 1.434 10.736 4.029-3.79 5-9.332.341-10.356-1.434-10.741z" transform="translate(-1541.855 -38.059)")
              path(d="m1856.115 32.812c-2.036-.305-4.874 7.473-6.322 17.372s-.969 18.164 1.067 18.466 4.865-7.469 6.322-17.368.974-18.164-1.067-18.47z" transform="translate(-1767.098 -31.354)")
              path(d="m829.3 350.7c-7.623 0-13.8 1.266-13.8 2.829s6.176 2.82 13.8 2.82 13.8-1.257 13.8-2.82-6.173-2.829-13.8-2.829z" transform="translate(-779.397 -335.176)")
              path(d="m2217.125 74.374c-1.806-.372-4.865 6.163-6.849 14.6s-2.108 15.566-.3 15.933 4.86-6.171 6.835-14.6 2.116-15.561.314-15.933z" transform="translate(-2110.923 -71.069)")
              path(d="m2546.26 106.974c-.819-4.768-11.409 3.236-12.732 4.086a58.609 58.609 0 0 0 1.036-8.164c0-7.677-1.82-13.9-4.077-13.9s-4.086 6.22-4.086 13.9c0 5.884 1.081 12.352 2.6 14.37a.038.038 0 0 0 .009.027 1.441 1.441 0 0 0 .426.456 1.59 1.59 0 0 0 1.053.487.384.384 0 0 0 .111-.022c2.365.443 16.492-6.459 15.66-11.24z" transform="translate(-2414.553 -85.062)")

        img(src="../assets/icon-dewy.svg" alt="")

      article
        section#concept
          h3 ゆるくつながる、
            br
            | かるいしくみ。
          p 国内最大の図書館に関する展示会「
            a(href="https://libraryfair.jp/") 図書館総合展
            |」はすべての展示ブースがオンラインで展開されます。カーリルのオンラインブースでは、「ゆるくつながる、かるいしくみ。」をテーマに、様々なオンラインイベントや、実験、コミュニケーションの機会を作っていきたいと考えています！図書館総合展は11月末まで開催の予定です。 
        section.news_letter
          div
            h4 ニュースレターを受けとる
            p 図書館総合展の期間中、カーリルからの最新情報や、お得な情報を随時お届けします。
              a(href="https://calil.jp/privacy/" target="_blank")
                span &#x2139;
                | プライバシーポリシー
            
            // Begin Mailchimp Signup Form
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action="https://calil.us8.list-manage.com/subscribe/post?u=fcf762033c0bc2f84df6118fe&id=d90822e306" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="")
                #mc_embed_signup_scroll
                  .mc-field-group
                    input#mce-EMAIL.required.email(type="email" value="" name="EMAIL" placeholder="メールアドレスを入力")
                  #mce-responses.clear
                    #mce-error-response.response(style="display:none")
                    #mce-success-response.response(style="display:none")
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style="position: absolute; left: -5000px;" aria-hidden="true")
                    input(type="text" name="b_fcf762033c0bc2f84df6118fe_d90822e306" tabindex="-1" value="")
                  .clear
                    input#mc-embedded-subscribe.button(type="submit" value="受け取る" name="subscribe")
            // End mc_embed_signup
        section.spmenu
          a.happyshop(href="https://happyshop.calil.jp/")
            img(src="../assets/logo-happyshop.svg" alt="")
            | グッズ・カタログ
          a(href="https://libraryfair.jp/search/contents?keys=%E4%B8%BB%E5%82%AC%20%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AB%E3%83%BC%E3%83%AA%E3%83%AB") イベント
          a(href="#labo") カーリルラボ
          a.zoom(href="https://timerex.net/s/caliljp_lf2020/72affc05")
            img(src="./assets/logo-zoom.svg" alt="")
            | ZOOM

        section.happyshop
          a(href="https://happyshop.calil.jp/")
              img(src="../assets/logo-happyshop.svg")
       
        div#bg_tile

          section.booth
            a(href="https://timerex.net/s/caliljp_lf2020/72affc05")
                img(src="../assets/booth_online.png")

          section#whatsnew
            h4 お知らせ

          section#labo
            div
              h3 カーリルラボ
              div
                div
                  a(href="https://lab.calil.jp/bunrui/" target="_blank")
                    img(src="https://calil.github.io/lf2021/assets/konna.png")
                  h4
                    a(href="https://lab.calil.jp/bunrui/" target="_blank") こんな本みつけたよ！
                  p カーリルとkumori「ブンルイ・ブックス」のコラボで制作した、カーリルの検索技術を活用した実験サービスです。本をみつけて、印刷しよう！
                  a.more(href="https://lab.calil.jp/bunrui/" target="_blank") もっと詳しく
                div
                  a(href="https://try.calil.jp/lf2021/" target="_blank")
                    img(src="https://calil.github.io/lf2021/assets/lab_unitrad.png")
                  h4
                    a(href="https://try.calil.jp/lf2021/" target="_blank") Unitrad 導入事例
                  p このページでは、全国各地でカーリルのUnitrad API（検索サービス）を活用して運用されている様々なサービスを紹介します。
                  a.more(href="https://try.calil.jp/lf2021/" target="_blank") もっと詳しく
                div
                  a(href="https://calil.github.io/littel/?q=%E5%9B%B3%E6%9B%B8%E9%A4%A8" target="_blank")
                    img(src="https://calil.github.io/lf2021/assets/littel.png")
                  h4
                    a(href="https://calil.github.io/littel/?q=%E5%9B%B3%E6%9B%B8%E9%A4%A8" target="_blank") Littel Navigator Next
                  p レファレンスサービス支援システム「リッテルナビゲーター」がHTML5に完全対応。カーリルの様々な検索サービスともシームレスに連携します。（近日公開予定ですが、kumori連携特別デザインのテスト版を公開します。）
                  a.more(href="https://calil.github.io/littel/?q=%E5%9B%B3%E6%9B%B8%E9%A4%A8" target="_blank") もっと詳しく

          section#whatwearedoingnow
            div
              h3 今やってることリスト
              p カーリルは「ゆるくつながる」ことがとても大切だと考えています。システムや組織、そしてひとりひとりが連携してつながることはとても大切です。私たちはつながることにより、独立性と自由を担保しているからです。そしてシステムが連携することで、地域や組織を超えて、協働して対応することができるようになります。しかし世の中にはコストダウンや効率化のために、いちいちつなげるよりも、統合するほうがよいと短絡的に考えるひともいます。
                br
                | トップダウンで決めて、みんながそれに合わせるように強制する、という考え方です。これは時代遅れで危険な発想です。大きくなりすぎたシステムや組織は、しばしば変化に対応できず苦労は増えるばかり。もはや発展の可能性は残されません。
                br
                | カーリルは連携するだれもが、全体の合意形成なく変化できる、そして新しい挑戦ができる、「ゆるくつながる、かるいしくみ。」の開発に取り組んでいます。
              div
                div
                  a(href="https://blog.calil.jp/2020/04/negima.html" target="_blank")
                    img(src="./assets/gakko.png")
                  h4
                    a(href="https://blog.calil.jp/2020/04/negima.html" target="_blank") 学校支援プログラム
                  p カーリルが2020 年4 月23 日に発表した「COVID-19：学校図書館支援プログラム」は、インターネットからアクセスできる簡易的な蔵書検索サービス（Web-OPAC）を無償提供することで、図書館の柔軟なサービス展開を支援する取り組みです。このプログラムは、5 月初旬から提供を開始しましたが、運用開始から3 か月間で約220 館の図書館に導入されました。引き続き申込みを受け付けています。
                  a.more(href="https://blog.calil.jp/2020/04/negima.html" target="_blank") もっと詳しく
                div
                  a(href="https://blog.calil.jp/2016/04/unitrad.html" target="_blank")
                    img(src="./assets/unitrad.png")
                  h4
                    a(href="https://blog.calil.jp/2016/04/unitrad.html" target="_blank") Unitrad API
                  p 多くの図書館員は、横断検索システムが遅いのは図書館システムが遅いためだと考えてきました。しかし、実際にはこの数年で図書館システムの性能は大幅に改善しており、横断検索システムが最大のボトルネックとなっています。私たちはこの積み残された課題をまとめて解決する新しい横断検索API「カーリル Unitrad API」（ユニトラッド・エーピーアイ）の設計に取り組んできました。
                  a.more(href="https://blog.calil.jp/2016/04/unitrad.html" target="_blank") もっと詳しく
                div
                  a(href="https://blog.calil.jp/2020/05/with-covid.html" target="_blank")
                    img(src="https://blog.calil.jp/wp-content/uploads/2020/04/stayathome@2x-825x510.png")
                  h4
                    a(href="https://blog.calil.jp/2020/05/with-covid.html" target="_blank") COVID-19
                  p 緊急事態宣言が発令され、国内の公立図書館の92パーセントが休館しました。世界的なパンデミックはまだ収束していませんが、すでに多くの図書館サービスは再開されています。事態は継続中ですが、私たちは記録を通して、今回の対応を検証し改善することができます。少なくとも、今回得られた知見は、今後の感染症対策のみならず、図書館の利用が制限されるさまざまな場面での参考となるはずだからです。COVID-19の経済への影響は甚大であり、公共機関では予算削減による影響から逃れることはできません。このような中で、図書館機能を維持、そして発展させるためには、「工夫」が必要になります。カーリルではその場しのぎではなく、長期的な視点で技術開発と新しいデザインを考えます。
                  a.more(href="https://blog.calil.jp/2020/05/with-covid.html" target="_blank") もっと詳しく
                div
                  a(href="https://openbd.jp/" target="_blank")
                    img(src="./assets/openbd.png")
                  h4
                    a(href="https://openbd.jp/" target="_blank") openBD
                  p カーリルは270社以上が加盟する中小出版社の業界団体「版元ドットコム」と協業して、「openBD」プロジェクトを立ち上げました。出版社が発信した書誌情報・書影を収集し、統合した書誌情報に自由にアクセスすることができます。2020年10月現在、146万タイトル以上の書誌情報を供給しており、国内3万社以上の出版社の書誌情報への統合的なアクセスを提供します。
                  a.more(href="https://openbd.jp/" target="_blank") もっと詳しく
                div
                  a(href="https://calil.jp/bookwalk/" target="_blank")
                    img(src="https://blog.calil.jp/wp-content/uploads/2020/04/ogp@2x-825x510.jpg")
                  h4
                    a(href="https://calil.jp/bookwalk/" target="_blank") ブックウォーク
                  p 図書館や本屋さんを歩き回ることは、「知らない情報に出合う機会」を提供してくれます。これは「検索」や「SNS」には代替できない場として重要な機能のひとつです。カーリルブックウォークは、インターネット上で少しでもそんな体験を実現することを目指したウェブサービスです。1ページにまとめて表示された20万冊の表紙画像を自由に歩き回って読みたい本を見つけることができます。検索機能はありません！
                  a.more(href="https://calil.jp/bookwalk/" target="_blank") もっと詳しく
                div
                  a(href="https://blog.calil.jp/" target="_blank")
                    img(src="./assets/more.png")
                  h4
                    a(href="https://blog.calil.jp/" target="_blank") もっと知りたい
                  p &nbsp;
                  a.more(href="https://blog.calil.jp/" target="_blank") もっと詳しく

          section#completion
            img(src="./assets/completion.jpg" alt="完成！")


    script(src="https://polyfill.io/v3/polyfill.min.js?features=fetch")
    script(src="./js/index.js")